<div class="email-container" ng-controller="EmailsController as vm" layout="column">
    <md-toolbar class="heading md-hue-1">
        <div class="md-toolbar-tools">
            <h1>Mailbox Folder Outbox</h1>
            <span flex></span>
            <small ng-if="vm.emails && vm.emails.getLength() !== 0">{{ vm.emails.getLength() }} Emails</small>
        </div>
    </md-toolbar>
    <md-toolbar class="heading md-tall md-hue-3" flex="none">
        <form class="md-toolbar-tools" id="searchForm" method="GET" flex="none" layout="column" layout-align="start start">
            <div class="attachment-filters">
                <md-radio-group ng-model="vm.filter.attachments" layout="row">
                    <md-radio-button ng-value="false">All</md-radio-button>
                    <md-radio-button ng-value="true">Only with attachments</md-radio-button>
                </md-radio-group>
            </div>
            <div layout="row" style="width: 100%">
                <md-input-container flex>
                    <md-icon md-font-set="material-icons" aria-label="Search">search</md-icon>
                    <label>Filter</label>
                    <input type="text" ng-model="vm.filter.text" />
                </md-input-container>
                <md-input-container flex="none">
                    <label>Start date</label>
                    <md-datepicker md-open-on-focus md-max-date="vm.maxDateStart()" ng-model="vm.filter.startDate"></md-datepicker>
                </md-input-container>
                <md-input-container flex="none">
                    <label>End date</label>
                    <md-datepicker md-open-on-focus md-min-date="vm.minDateEnd()" md-max-date="vm.maxDateToday" ng-model="vm.filter.endDate"></md-datepicker>
                </md-input-container>
                <div class="filter-button" flex="none">
                    <md-button
                        ng-disabled="vm.isEmptyFilter()"
                        class=""
                        ng-click="vm.clearFilter()"
                        >Clear...</md-button>
                </div>
            </div>
        </form>
    </md-toolbar>
    <p ng-show="!vm.emails || vm.emails.getLength() === 0" flex="none">
        There are no emails to show at the moment.
    </p>
    <md-list flex="100" md-virtual-repeat-container id="emailsList">
        <md-list-item md-virtual-repeat="item in vm.emails" md-on-demand class="md-3-line" ng-class="{ unread: !vm.isRead(item.id) }" ng-click="vm.openEmailDialog($event, item)">
            <md-icon ng-if="item.attachmentCount" md-font-set="material-icons" aria-label="Attachment">attachment</md-icon>
            <md-icon ng-if="!item.attachmentCount && !vm.isRead(item.id)" md-font-set="material-icons" aria-label="Unread">markunread</md-icon>
            <md-icon ng-if="!item.attachmentCount && vm.isRead(item.id)" aria-label=""></md-icon>
            <div class="md-list-item-text">
                <h3 ng-if="item.to"><strong>To:</strong> {{ item.to }}</h3>
                <h4 ng-if="item.cc || item.bcc">
                    <span ng-if="item.cc"><strong>Cc:</strong> {{ item.cc }}</span>
                    <span ng-if="item.bcc"><strong>Bcc:</strong> {{ item.bcc }}</span>
                </h4>
                <p><strong>{{ item.subject }}</strong> {{ item.preview }}</p>
            </div>
            <div class="md-secondary">
                <div class="from-area">
                    <div><strong>{{ vm.formatDate(item.date.date) }}</strong>, from:</div>
                    <div>{{ item.from }}</div>
                </div>
            </div>
        </md-list-item>
    </md-list>

    <div style="visibility: hidden">
        <div id="emailDialog" class="md-dialog-container">
            <md-dialog aria-label="{{ vm.emailDialogTitle }}" flex="100%">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h3 class="foreground-1">{{ vm.emailDialogTitle }}</h3>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="vm.cancelEmailDialog()">
                            <md-icon md-font-set="material-icons" aria-label="Close">close</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-toolbar class="email-headers-container md-hue-1" layout="row" layout-align="start stretch">
                    <div class="email-headers" flex="flex" layout="column" layout-align="start start">
                        <div><strong>To:</strong> {{ vm.selectedEmail.to }}</div>
                        <div ng-if="vm.selectedEmail.cc"><strong>Cc:</strong> {{ vm.selectedEmail.cc }}</div>
                        <div ng-if="vm.selectedEmail.bcc"><strong>Bcc:</strong> {{ vm.selectedEmail.bcc }}</div>
                        <div><strong>From:</strong> {{ vm.selectedEmail.from }}</div>
                        <div><strong>Date:</strong> {{ vm.selectedEmail.date | date:'medium' }}</div>
                        <div ng-if="vm.showFullHeaders">
                            <div ng-repeat="header in vm.filterSelectedHeaders()">
                                <strong>{{ header.name }}: </strong> {{ header.value }}
                            </div>
                        </div>
                    </div>
                    <div class="header-action" layout="column" layout-align="end end">
                        <div><md-switch ng-model="vm.showFullHeaders" aria-label="Show full message headers">
                            Show full message headers
                        </md-switch></div>
                        <div><a href="emails/{{ vm.selectedEmail.id }}.mime" md-button class="md-raised md-warn">Download Raw</a></div>
                    </div>
                </md-toolbar>
                <md-toolbar ng-if="vm.selectedEmail.attachments.length !== 0" class="attachments">
                    <div class="md-toolbar-tools">
                        <md-icon flex="nogrow" aria-label="Attachment">attachment</md-icon>
                        <a href="emails/{{ vm.selectedEmail.id }}/attachments/{{ att.id }}/{{ att.name }}" md-button ng-repeat="att in vm.selectedEmail.attachments">{{ att.name }}</a>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content" ng-class="{ hasAttachments: vm.selectedEmail.attachments.length !== 0 }">
                        <div ng-if="!vm.selectedEmail" layout="row" layout-align="center center">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                        <iframe class="email-html-content" ng-if="vm.selectedEmail.html && vm.showHtml" frameborder="0" scrolling="no" src="about:blank" onload="resizeIframe(this)"></iframe>
                        <div ng-if="!vm.selectedEmail.html || !vm.showHtml" class="email-dialog-content" layout="column">
                            <div class="plain-text" ng-if="vm.selectedEmail.text">{{ vm.selectedEmail.text }}</div>
                        </div>
                    </div>
                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <md-switch ng-model="vm.showHtml" aria-label="HTML" ng-disabled="!vm.selectedEmail.html || !vm.selectedEmail.text">HTML</md-switch>
                    <span flex></span>
                    <md-button md-autofocus ng-click="vm.cancelEmailDialog()" class="md-primary">Close</md-button>
                </md-dialog-actions>
            </md-dialog>
        </div>
    </div>
</div>
